
<div class="body"
     style="position: relative; width: 29.7cm; height: 21cm; margin: 0 auto; background: #FFFFFF; ">
    <div class="main">
        <div id="details" class="clearfixx" style="margin-bottom: 20px;">
            <table id="client" style="width: 100%; border-collapse: collapse; font-family: 'Oswald'; border-spacing: 0; margin: 0 40pt">
                <tr>
                    <td class="name" style=" text-align: left; width: 25%; padding-top: 15px ">
                        <p style="color: #364766; margin-bottom: 20px; font-size: 14pt">SHIPPING
                            TO</p>
                        <p style="margin-bottom: 20px; font-size: 9pt">&nbsp;</p>
                        <p style="font-size: 9pt; color: #364766; font-family: 'Oswald';">{{var
                            formattedShippingAddress|raw}}</p>
                    </td>
                    <td class="name" style=" text-align: left; width: 25%; padding-top: 15px;">
                        <p style="color: #364766; margin-bottom: 20px;  font-size: 14pt ">BILLING
                            TO</p>
                        <p style="margin-bottom: 20px; font-size: 9pt">&nbsp;</p>
                        <p style="font-size: 9pt; color: #364766; font-family: 'Oswald';">{{var
                            formattedBillingAddress|raw}}</p>
                    </td>
                    <td class="name"
                        style=" text-align: right; width: 50%; vertical-align: top; padding-top: 15px; padding-left: 20px ">
                        <div style="display: inline-block">{{var custom_barcode_c39_shipment.increment_id}}</div>
                        <p style="margin-bottom: 20px; font-size: 9pt">&nbsp;</p>
                        <p class="date" style="color: #364766; margin-bottom: 20px;  font-size: 9pt ">
                            Date of order:  {{var order.created_at}}
                        </p>
                        <p style="margin-bottom: 20px; font-size: 9pt">&nbsp;</p>
                        <p class="date" style="color: #364766; margin-bottom: 20px;  font-size: 9pt ">
                            Status: {{var order.status}}
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <table class="table"
               style="width: 100%; padding: 0 40pt; color: #364766; border-collapse: collapse; border-spacing: 0; margin-bottom: 20px;"
               border="0">
            <thead>
            <tr>
                <th class="no">#</th>
                <th class="desc">Description</th>
                <th class="sku">&nbsp;</th>
                <th class="qty">Qty</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4">##productlist_start##</td>
            </tr>
            <tr>
                <td class="no">
                    <p>{{var item.position}}</p>
                </td>
                <td class="desc">
                    <p>{{var item.name}}</p>
                    <p>{{var item.sku}}</p>
                </td>
                <td class="sku">
                    <p>{{var custom_barcode_c39_item.sku}}</p>
                </td>
                <td class="qty">
                    <p>{{var custom_item.qty}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="4">##productlist_end##</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td style="">&nbsp;</td>
                <td colspan="2" style="padding-right: 10px;  font-family: 'Oswald';">
                    SHIPPING METHOD
                </td>
                <td style="text-align: left; font-weight: bold; padding-left: 10px; ">
                    {{var order.getShippingDescription()}}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" style="padding-right: 10px; font-family: 'Oswald';">
                    TOTAL QTY
                </td>
                <td style="text-align: left; font-weight: bold; padding-left: 10px">
                    {{var custom_shipment.total_qty}}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" style="padding-right: 10px; font-family: 'Oswald';">
                    TOTAL WEIGHT
                </td>
                <td style="text-align: left; font-weight: bold; padding-left: 10px">
                    {{var shipment.total_weight}}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" style="padding-right: 10px; font-family: 'Oswald'; font-size: 14pt">
                    SHIPMENT TRACK
                </td>
                <td style="text-align: left; font-weight: bold; padding-left: 10px">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" style="padding-right: 10px; font-family: 'Oswald';">
                    SHIPPING TAX
                </td>
                <td style="text-align: left; font-weight: bold; padding-left: 10px">
                    {{var custom_order.base_shipping_amount}}{{depend order_if.base_shipping_amount}}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" style="padding-right: 10px; font-family: 'Oswald';">DEPEND SHIPPING TAX</td>
                <td style="text-align: left; font-weight: bold; padding-left: 10px">
                    {{var custom_order.base_shipping_amount}}{{/depend}}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>